<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>board</title>
  <link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
  <div class="container">
    <h2>게시판 등록</h2>
    <form id="form" input="form" method="post" action="/boards">
      <input type="text" id="title" name="title">
      <textarea id="content" name="content"></textarea>
      <input type="submit" id="submit" value="저장">
    </form>
  </div>
</body>
</html>
